<div class="container-fluid" style="text-align: center; background-color: #0083D1; color: #fff">  
	<div class="row">
		<div class="col"><h1>Alkem Laboratories Limited Remedy System </h1></div>         
	</div>  
</div>
<div class="alert alert-success" *ngIf="recordUpdated">
	<strong> Success! You have raised a remedy! </strong>.
</div>
<!-- Header Start Ends -->
<!-- {{remedyList | json}} -->
<!-- <ul> <li *ngFor="let emp of remedyList"> {{emp.email}}  </li> </ul> -->

<div class="container">	

	<div class="container " style="
	min-height: 20px;
	padding: 19px 19px 19px 19px; 
	margin-top: 20px;
	background-color: #F5F5E6;
	border: 1px solid #e3e3e3;
	border-radius: 4px;"> 


	<form [formGroup]="CreateremedyForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="username">Employee Name</label>
			<input type="text" class="form-control" formControlName="username" placeholder="username" id="usr" name="username" [ngClass]="{ 'is-invalid': (f.username.dirty && f.username.invalid) || (submitted && f.username.invalid) }">

			<div *ngIf="(f.username.dirty && f.username.invalid) || (submitted && f.username.invalid)" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">please enter your username.</div>                     
            </div>
		</div>

		<div class="form-group">
			<label for="email">Email address:</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">@</span>
				</div>
				<input type="text" class="form-control" formControlName="email" placeholder="email" id="email" name="email" [ngClass]="{ 'is-invalid': (f.email.dirty && f.email.invalid) || (submitted && f.email.invalid) }">

				<span *ngIf="(f.email.dirty && f.email.invalid) || (submitted && f.email.invalid)" class="invalid-feedback">
		            <div *ngIf="f.email.errors.required">please enter your email address.</div>  
		            <div *ngIf="f.email.errors.email">please enter a valid email address.</div>                  
            	</span>
			</div>

            <!-- <p> dirty: {{f.email.dirty}} </p>
            <p> invalid: {{f.email.invalid}} </p>
            <p> submitted: {{submitted}} </p>
            <p> required: {{f.email.errors.required}} </p> -->
		</div>

		<div class="form-group">
			<label for="seat">Seat Location</label>
			<input type="text" class="form-control" formControlName="seat" placeholder="seat" id="seat" name="seat" [ngClass]="{ 'is-invalid': (f.seat.dirty && f.seat.invalid) || (submitted && f.seat.invalid) }">


			<div *ngIf="(f.seat.dirty && f.seat.invalid) || (submitted && f.seat.invalid)" class="invalid-feedback">
            	<div *ngIf="f.seat.errors.required">please enter your seat no.</div>                     
            </div>
		</div>

		<div class="form-group">
			<label for="department">Department</label>
			<input type="text" class="form-control" formControlName="department" placeholder="department" id="department" name="department" [ngClass]="{ 'is-invalid': (f.department.dirty && f.department.invalid) || (submitted && f.department.invalid) }">

			<div *ngIf="(f.department.dirty && f.department.invalid) || (submitted && f.department.invalid)" class="invalid-feedback">
            	<div *ngIf="f.department.errors.required">please enter your department name.</div>                     
            </div>
		</div>

		<div class="form-group">
			<label for="comment">Comment</label>
			<textarea type="text" class="form-control" formControlName="comment" placeholder="comment" id="comment" name="comment" [ngClass]="{ 'is-invalid': (f.comment.dirty && f.comment.invalid) || (submitted && f.comment.invalid) }"> 
			</textarea>

			<div *ngIf="(f.comment.dirty && f.comment.invalid) || (submitted && f.comment.invalid)" class="invalid-feedback">
            	<div *ngIf="f.comment.errors.required">please enter your comment.</div>                     
            </div>

		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</div>
</div>
